[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = ">=v2021.5.29"
click = ">=8.0.1"
click-log = "*"
pyrsistent = "==0.15.7"
jsonschema = {version = "==3.2", extras = ["format_nongpl"]}
"ruamel.yaml" = ">=0.16.13"
ansible = ">=4.2.0"
pbr = ">=2.0.0,!=2.1.0"
cliff = "!=2.9.0,>=2.8.0"
python-dateutil = ">=2.5.3"
six = ">=1.10.0"
stevedore = ">=1.20.0"
requests = ">=2.14.2"
enum34 = "*"
importlib-metadata = "*"
subprocess32 = "*"
docker = {extras = ["tls"], version = "*"}
openshift = "*"
boto = "*"
boto3 = "*"
supervisor = "*"
google-auth = "*"
GitPython = "<=3.1.14"
Babel = ">=2.3.4,!=2.4.0"
PyYAML = ">=3.12"
Jinja2 = "==2.11.3"
octodns = ">=0.9.12,<1.0"

[dev-packages]

[requires]
python_version = "3.6"
