# general things to ignore
build/
dist/
*.egg-info/
*.egg
.eggs
*.py[cod]
__pycache__/
*.so
*~
.DS_Store
.pytype
.vscode
.idea/
.venv
venv/
# due to using tox and pytest
.tox
.cache
.coverage*
htmlcov/
