subprocess32;python_version<'3'
docker[tls] # Apache 2.0
openshift # Apache 2.0
octodns>=0.9.12,<1.0 # MIT
ansible[azure]>=2.9.10,<2.10.0 # GPL 3
boto # Apache 2.0
boto3 # Apache 2.0
supervisor # BSD, see https://web.archive.org/web/20190406171444/http://repoze.org/LICENSE.txt
requests>=2.14.2 # Apache 2.0
google-auth # Apache 2.0
