# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# NB: this need to stay in in sync with [extras] in setup.cfg
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
docker[tls] # Apache 2.0
kubernetes==24.2.0
octodns == 0.9.14 # MIT
boto3 # Apache 2.0
supervisor # BSD, see https://web.archive.org/web/20190406171444/http://repoze.org/LICENSE.txt
requests>=2.14.2 # Apache 2.0
google-cloud-compute==1.3.2
google-cloud-dns==0.34.0
google-auth # Apache 2.0
grpcio==1.48.2; python_version<'3.7' # last 3.6 version
grpcio==1.50.0; python_version>='3.7' # fix issue with m1 macs
python-gitlab==3.13.0
gunicorn==20.1.0
redis==4.4.4
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# NB: this need to stay in in sync with [extras] in setup.cfg
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
