# https://docs.python.org/2/distutils/sourcedist.html#the-manifest-in-template
include LICENSE
include README.md

graft unfurl
prune unfurl/vendor/toscaparser/tests
global-exclude *.py[cod] __pycache__ *.so
# Include the data files
recursive-include *.yaml
recursive-include *.json
