# pbr uses this for install_requires
pipenv>=2020.6.2 # MIT
click>=8.0.1 # BSD 3-clause
click-log  # MIT
pyrsistent==0.15.7; python_version<'3' # last version with 2.7 support (needed for jsonschema)
jsonschema[format_nongpl]==3.2 # MIT
ruamel.yaml==0.16.13; python_version<'3'
ruamel.yaml>= 0.16.13; python_version>='3'  # MIT
ansible>=2.9.10,<2.10.0 # gpl 3
GitPython <= 3.1.14 # BSD (3.1.18 is incompatible with 3.7)
# the following are all Apache 2.0 (note: don't put comments on -r lines)
-r tosca-parser/requirements.txt
enum34; python_version<'3'
importlib-metadata; python_version<'3.8' # Apache
jinja2==2.11.3
