# Versions are pinned to prevent pypi releases arbitrarily breaking
# tests with new APIs/semantics. We want to update versions deliberately.
# For an analysis of "install_requires" vs pip's requirements files see
# https://packaging.python.org/en/latest/requirements.html
ansible==2.7.16 # gpl 3
mitogen==0.2.7 # BSD 3-clause
openshift # Apache 2.0
click==7.0 # BSD 3-clause
click-log  # MIT
jsonschema[format_nongpl]==3.2 # MIT
ruamel.yaml>=0.15.37 # MIT
gitpython # BSD
-r tosca-parser/requirements.txt # Apache 2.0
# for python 2 compatibility:
six
subprocess32
enum34
