python-jose[cryptography]>=3.1.0,<3.3.0; python_version<'3'
moto[server]==3.1.4
# pins for moto:
boto3==1.21.46
botocore==1.24.46
coverage
pytest==7.4.4
pytest-cov
pytest-xdist[psutil]
pytest-profiling
# type checking (python 3.7 support ends at 1.4.1)
mypy >= 1.4.1, <= 1.8.0
types-PyYAML
