.DS_Store
Thumbs.db
.vscode
.idea/
__pycache__
**/local
**/tmp
*.tmp.*
*.log
**/.terraform/*
*.tfstate
*.tfstate.json
*.backup
**/jobs
*.local.*
*.lock
**/planned
**/tasks
**/operation
**/workflow
**/failed.*
**/secrets
