apiVersion: unfurl/v1alpha1
kind: Ensemble
spec:
  service_template:
    topology_template:
      node_templates: {}
# see local/ensemble-examples.yaml for examples of node_templates
# you can copy and paste here
