#jinja2: variable_start_string: '[%', variable_end_string: '%]'
apiVersion: unfurl/v1alpha1
kind: Project
# this file is including into unfurl.yaml but is listed in .gitignore
# so you can add configuration that you don't want committed to the repository,
# such as secrets, local settings, and local instances.
contexts:
  defaults:
    environment: {}
    secrets:
      attributes:
        vault_default_password: "[% vaultpass %]"
