#jinja2: variable_start_string: '[%', variable_end_string: '%]'
apiVersion: unfurl/v1alpha1
kind: Project

# this file is included into unfurl.yaml and its contents are encrypted in the repository
# so you can add any sensitive configuration information here such as sensitive environment variables or explicity secrets

# environments:
#   defaults:

    #  secrets:
    #    my_secret: boo

    # use "variables" to modify environment variables
    # keys are processed in order and a leader "+" and "-"
    # will copy or remove the variable from the environment
    # e.g.:

    # variables:
    #   -*:       # will remove all environment variables
    #   +HOME:    # will add HOME back
    #   FOO: bar  # set FOO
    #
    #   # "connections" with sensitive properties can be set as environment variables here
    #   # (For examples of connections, see  ~/.unfurl_home/unfurl.yaml)
    #
    #   AWS_ACCESS_KEY_ID:
    #   AWS_SECRET_ACCESS_KEY:
    #
    #   AZURE_CLIENT_ID:
    #   AZURE_SUBSCRIPTION_ID:
    #   AZURE_SECRET:
    #
    #   CLOUDSDK_CORE_PROJECT:
    #   GCP_SERVICE_ACCOUNT_CONTENTS:
    #   GOOGLE_OAUTH_ACCESS_TOKEN:
    #
    #   PACKET_API_TOKEN:
