# This file is included by ensemble-template.yaml 
# You can define TOSCA types and templates here in Python, see 
# https://github.com/onecommons/unfurl/blob/main/tosca-package/README.md

# for example:

# import tosca

# uncomment if you declared the "std" repository in ensemble-template.yaml
# from tosca_repositories import std

# class MyNodeType(tosca.nodes.Root):
#     name: str
