<!DOCTYPE html>
<html lang="en">

{{head}}

<body class="ui-indigo tab-width-8 gl-browser-chrome gl-platform-mac gl-dark">

  {% include 'partials/header.j2.html' %}
  <div class="layout-page hide-when-top-nav-responsive-open">
    <div class="content-wrapper content-wrapper-margin">
      <div class="container-fluid container-limited limit-container-width">
        <main class="content" id="content-body" style="display: block !important;" itemscope
          itemtype="http://schema.org/SoftwareSourceCode">
          <div class="flash-container flash-container-page sticky" data-qa-selector="flash_container">
            {% for variant in [
            "variant-success",
            "variant-warning",
            "variant-alert variant-danger",
            "variant-notice variant-info"
            ] %}
            <div class="{{variant}} mb-2">
              <span />
              <div class="close-icon-wrapper js-close-icon"></div>
            </div>
            {% endfor %}
          </div>


          {% block content %}
          {% endblock %}

        </main>
      </div>
    </div>
  </div>
  <script>
    //<![CDATA[
    window.gon = {}
    gon.default_avatar_url = ""
    gon.relative_url_root = ""
    gon.ee = false
    gon.jh = false
    gon.dot_com = false
    gon.current_user_id = 1
    gon.current_username = "{{user}}"
    gon.current_user_fullname = "{{user}}"
    gon.features = {"snippetsBinaryBlob": false, "usageDataApi": true, "securityAutoFix": false, "improvedEmojiPicker": true, "newHeaderSearch": false, "suppressApolloErrorsDuringNavigation": false}
    gon.unfurl_gui = true
    gon.home_project = {{home_project | tojson}}
    gon.unfurl_server_url = '/'
    gon.working_dir_project = "{{working_dir_project}}"
    {% if origin %}
    gon.gitlab_url = "{{origin}}"
    {% endif %}

    // gon.user_color_scheme = "white"
    // gon.test_env = false
    // gon.disable_animations = null
    // gon.api_version = "v4"
    // gon.suggested_label_colors = {"#009966": "Green-cyan", "#8fbc8f": "Dark sea green", "#3cb371": "Medium sea green", "#00b140": "Green screen", "#013220": "Dark green", "#6699cc": "Blue-gray", "#0000ff": "Blue", "#e6e6fa": "Lavendar", "#9400d3": "Dark violet", "#330066": "Deep violet", "#808080": "Gray", "#36454f": "Charcoal grey", "#f7e7ce": "Champagne", "#c21e56": "Rose red", "#cc338b": "Magenta-pink", "#dc143c": "Crimson", "#ff0000": "Red", "#cd5b45": "Dark coral", "#eee600": "Titanium yellow", "#ed9121": "Carrot orange", "#c39953": "Aztec Gold"}
    // gon.first_day_of_week = 0
    // gon.time_display_relative = true
    // gon.current_user_avatar_url = "https://secure.gravatar.com/avatar/e64c7d89f26bd1972efa854d13d7dd61?s=80\u0026d=identicon"
    // gon.markdown_surround_selection = true
    // gon.recaptcha_api_server_url = "https://www.google.com/recaptcha/api.js"
    // gon.recaptcha_sitekey = null
    // gon.revision = "e6e1593395b"
    // gon.feature_category = "continuous_integration"
    // gon.gitlab_logo = "/assets/gitlab_logo-7ae504fe4f68fdebb3c2034e36621930cd36ea87924c11ff65dbcb8ed50dca58.png"
    // gon.sprite_icons = "/assets/icons-74e006cef5a76d001c81e4dda159833de67bd6dbd16e42db899bbe43f2a76cf2.svg"
    // gon.sprite_file_icons = "/assets/file_icons-c13caf2f3ca00cc2c02b11d373ac288c200b9b4dcddbb52a5027dc07b3eece19.svg"
    // gon.emoji_sprites_css_path = "/assets/emoji_sprites-bf4140879821f4505df3cda92e5a565078c3c3cfdd90406772e944cc262e9737.css"
    // gon.select2_css_path = "/assets/lazy_bundles/select2-d720397d08b21964ee0c701ea40aa6286d8928eab7edfac24d05b3c63c466b81.css"
    // gon.max_file_size = 10
    // gon.asset_host = null
    // gon.webpack_public_path = "/assets/webpack/"

    //]]>
  </script>


  <noscript>
    <strong>We're sorry but Unfurl GUI doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>
