apiVersion: unfurl/v1alpha1
kind: Ensemble
{%- if ensembleTemplate is defined %}
+include:
  file: {{ensembleTemplate}}
  repository: spec
{%- endif %}
{%- if ensembleUri is defined %}
metadata:
  uri: {{ ensembleUri }}
{%- endif %}
{%- if deployment_blueprint | default("") %}
environment:
  deployment_blueprint: {{ deployment_blueprint }}
{%- endif %}
spec:
  inputs:
  {%- if inputs | default("") %}
    {{ inputs | indent }}
  {%- endif %}
    tags:
      eval:
        to_env: # filters out empty vars
          project:
            get_env: CI_PROJECT_PATH_SLUG
          job:
            get_env: CI_JOB_ID
          commit:
            get_env: CI_COMMIT_SHORT_SHA # 8 characters
          ensemble:
            get_env: DEPLOY_PATH
          environment:
            get_env: DEPLOY_ENVIRONMENT
          unfurlcloud:
            get_env: CI_SERVER_HOST
  deployment_blueprints:
    +?include: deployment.json#/DeploymentTemplate
  service_template:
    metadata:
      +?include: deployment.json#/ApplicationBlueprint
    topology_template:
      node_templates:
        +?include: deployment.json#/ResourceTemplate
    {%- if serviceTemplate is defined %}
    +include:
      file: {{ serviceTemplate }}
      repository: spec
    {% endif %}
    {%- if specRepoUrl is defined %}
    repositories:
    # Files that are shared across ensemble instances should be placed in this "spec" repository
      spec:
        url: {{ specRepoUrl }}
    {% else %}
    repositories: {}
    {% endif %}
