#jinja2: variable_start_string: '[%', variable_end_string: '%]'
apiVersion: unfurl/v1alpha1
kind: Project
[%include | default("") %]

{%- if default_context | default("") %}
default_environment: [%default_context%]
{% endif %}

# To create/update environments.json run:
# unfurl --home '' export --format environments
environments:
  defaults:
    secrets:
      vault_secrets:
        default: # leaving secret value blank, expecting a UNFURL_VAULT_DEFAULT_PASSWORD environment variable
    repositories:
      types:
        url: https://gitlab.com/onecommons/unfurl-types
  +?include: environments.json#DeploymentEnvironment
