#jinja2: variable_start_string: '[%', variable_end_string: '%]'
apiVersion: unfurl/v1alpha1
kind: Project
[%include | default("") %]
{%- if default_context | default("") %}
default_environment: [%default_context%]
{% endif %}

environments:
  defaults:
    connections:
      # declare the primary_provider as a connection to a Google Cloud project:
      primary_provider:
        type: unfurl.relationships.ConnectsTo.GoogleCloudProject
      #   properties:
      #     CLOUDSDK_CORE_PROJECT: my-project-1
      #     CLOUDSDK_COMPUTE_REGION: us-central1
      #     CLOUDSDK_COMPUTE_ZONE: us-central1-a
      #     GOOGLE_APPLICATION_CREDENTIALS: "{{ 'secrets/project-credentials.json' | abspath('project') }}"
      #  For more properties see https://unfurl.run/docs/tosca.html

      # Alternatively, if you have already declared the connection in UNFURL_HOME you can rename the existing connection by
      # setting "primary_provider" to the name of the inherited connection, for example:
      # primary_provider: gcp
