# this is an empty ansible.cfg file that exists to stop ansible from searching
# for ansible.cfg files in the default locations. This way we can maintain an isolated environment for Ansible.
# To override this set the ANSIBLE_CONFIG environment variable
